<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    opened="true"
    mode="over"
    class="sidenav mat-elevation-z15"
  >
    <mat-toolbar class="sidenav-toolbar mat-elevation-z1" color="primary"
      >Projects</mat-toolbar
    >
    Sidenav content
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-toolbar></app-toolbar>
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
